body {
    margin: 0;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to black on hover, excluding active link */
li a:hover:not(.active) {
    background-color: black;
}

/* Color of active link (indicates current page) */
.active {
    background-color: #3BA55D;
}

.right {
    float: right;
}

/* Make it responsive! */
@media screen and (max-width: 600px) {
    ul li, ul li.right {
        float: none;
    }
}
